.vscode/**
src/**
.gitignore
tsconfig.json
**/*.ts
**/*.map
.git/**
node_modules/**/@types/**
node_modules/**/*.md
node_modules/**/*.txt
node_modules/**/LICENSE*
node_modules/**/CHANGELOG*
node_modules/**/.github/**
node_modules/**/docs/**
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/__tests__/**
node_modules/**/*.d.ts.map
**/node_modules/@babel/**
**/node_modules/json-schema-to-ts/**
**/node_modules/ts-algebra/**
